<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-3">Control</label>
        <div class="col-md-6">
            <input id="control" type="number" class="form-control" ng-model="ctrl.settingCraftMan.Control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Craftmanship</label>
        <div class="col-md-6">
            <input id="craftmanship" type="number" class="form-control" ng-model="ctrl.settingCraftMan.Craftmanship" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">CP</label>
        <div class="col-md-6">
            <input id="cp" type="number" class="form-control" ng-model="ctrl.settingCraftMan.MaxCraftPoints" />
        </div>
    </div>
</div>