@using System.Web.Http
@model WebCraftStation.Models.ApiTestViewModel
@{
    ViewBag.Title = "Api Test";
}

<div class="container" style="margin-top: 15px;">
    <div id="ac" class="col-md-12" style="height: 150px;">
      
    </div>
</div>

<hr/>
<div class="container">
    <div class="col-md-12">
        @foreach (var a in Model.Abilities)
        {
            <div style="float: left; height: 50px; width: 50px;">
                <div>
                    <button class="action" data-xivdb-key="xivdb_action_@a.XivDbId" data-xivdb-isset="1" style="border: 0; height: 40px; padding: 0; width: 40px;" name="@a.Name">
                        <img src="Content/Images/action_@(a.XivDbId).png" />
                    </button>
                </div>
                <div class="ability-overlay"></div>
            </div>
        }
    </div>
</div>

<div class="container">
    <div class="col-md-12">
      <button id="sendButton">Send</button>
    </div>
</div>

@section scripts
{
    <script src="https://secure.xivdb.com/tooltips.js"></script>
    <script>
        var xivdb_tooltips =
        {
            // Where to get tooltips from.
            source: 'https://secure.xivdb.com',

            // Language the tooltips should be in
            language: 'en',

            // Should tooltips attempt to replace the link?
            // if set to false: seturlname, seturlcolor and seturlicon will be skipped
            replace: false,

            // Should tooltips replace the name of the link?
            seturlname: false,

            // Should tooltips apply a rarity color? (eg: Relics set to Purple)
            seturlcolor: true,

            // If your site is white/bright, set this true
            seturlcolorDarken: true,

            // Should tooltips include an icon?
            seturlicon: true,

            // Should tooltips replace hidden links?
            includeHiddenLinks: true,

            // How long to wait until attempting to include jquery
            // if jquery still doesn't exist after this time, it will
            // be auto included
            jqueryCheckDelay: 500,

            // Minimum site width (pixels) to assume we're on a mobile,
            // tooltips should not be used on mobile sites.
            mobileMinimumWidth: 500,

            // Prevent this script from setting your sites html height to 100%
            // this helps with knowing mouse position.
            preventHtmlHeight: false,

            // How far the tooltip should be from the mouse
            tooltipDistanceX: 30,
            tooltipDistanceY: 30,

            //
            // EVENTS
            //

            // this is called once tooltips load, provides tooltip data,
            // eg: event_tooltipsLoaded: function(tooltips) { ... }
            event_tooltipsLoaded: function () {
                $('#buffs').html($('#tempBuffContainer').html());
                window.locko = false;
                $('.ability-overlay').hide();
            }
        };
    </script>
    
    <script>
        $(function () {
            $("#sendButton").on("click",
                function() {
                    var names = $("#ac .action").map(function () { return this.name; }).get();
                    var data = { Abilities: names, Iterations : 100 };
                    var s = function(data) {
                        alert(JSON.stringify(data, undefined, 4));
                    };

                    $.post('@Url.RouteUrl("DefaultApi",new { httproute = "", controller = "values"})', data,s);
                });
            $(".action").on("click", function () {
                var clone = $(this).clone();
                clone.on('click',
                    function () {
                        $(this).parent(".addedContainer").remove();
                    });
                $('<div class="addedContainer" style="float: left; height: 50px; width: 50px;"></div>').append(clone).appendTo($("#ac"));
            });
        });
        

    </script>
}
