body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


html,
body {
  height: 100%;
}
.wrapper {
  display: table;
  height: 100%;
    margin: 0 auto;
    width: 880px;
}
.content {
  display: table-row;
  height: 100%;
}


.ability-overlay {
    display:none;
    margin-top: -40px;
    width:40px;
    height:40px;
    background-color: gray;
    top: 0px;
    left: 0px;
    padding: 10px;
    opacity: .8;
    border-radius: 5px;
}


.highlight-action{
/*    outline: 2px dashed white;*/
    box-shadow: 0 0 0 2px black;
    animation: 1s animateBorder infinite;
    

 }

@keyframes animateBorder {
  to {
/*    outline-color: orange;*/
      box-shadow: 0 0 0 3px coral;
  }
}


.buff {
    float: left;
    height: 70px;
    width: 25px;
    margin-right: 5px;
}

.buff .buff-stacks {
    height: 20px;
    width: 100%;
    text-align: center;
}

.buff .buff-icon {
    width: 25px;
    border: 0;
    padding: 0;
    background-color: white;
}

.buff .buff-steps {
    height: 20px;
    width: 100%;
    text-align: center;
}

.cost {
    margin-top: -15px;
    color: white;
    position: absolute;
    text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
    font-size: 12px;
    font-weight: 600;
    margin-left: 2px;
}

.log {
    overflow-y: auto;
    width: 100%;
    height: 184px;
    overflow-x: hidden;
    font-size: smaller;
    color: black;
}

.log-entry {
    
}

.ability-container {
    display: inline-block; 
    height: 44px; 
    width: 44px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.action {
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 5px;
    box-shadow: 0 0 7px black;
}

.action:hover {
    -ms-transform: scale(1.2, 1.2); /* IE 9 */
    -webkit-transform: scale(1.2, 1.2); /* Safari */
    transform: scale(1.2, 1.2);
}

.action img {
    border-radius: 5px;
    
}

.category-head {
    font-weight: bold;
    /* text-shadow: 0px -1px 0px grey; */
}

.hint span {
    font-size: smaller;
}


.category-container {
    display: inline-table;
    margin-right: 30px;
}